.content-center{
    text-align: center;
}

.interval-about{
    padding-left: 20px;
}

.interval-top-about{
    margin-top: 60px;
}

.colorwhite {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.colorblack {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
}

.right {
    text-align: right;
    font-family: 'Prompt', sans-serif;
}
.letter-white {
    color: white;
    font-family: 'Prompt', sans-serif;
}
.topic {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
}
.topic2 {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
}
.topic3 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
}

.topic4 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
}

.topic5 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
}

.login {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 20px;
}
.button {
    transition: none;
    font-size: 40px;
}