.content-center{
    text-align: center;
}

.interval-about{
    padding-left: 20px;
}

.interval-top-about{
    margin-top: 60px;
}

.colorwhite {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.colorblack {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
}

.right {
    text-align: right;
    font-family: 'Prompt', sans-serif;
}
.letter-white {
    color: white;
    font-family: 'Prompt', sans-serif;
}
.topic {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
}
.topic2 {
    text-align: left;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
}
.topic3 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
}

.topic4 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
}

.topic5 {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
}
.topic-red {
    text-align: left;
    color: red;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
}
.topic-black {
    text-align: left;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 22px;
}
.topic-gray {
    text-align: left;
    color: gray;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.topic-white {
    color: white;
    font-family: 'Prompt', sans-serif;
}

.login {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 20px;
}
.button {
    transition: none;
    font-size: 40px;
}
.center{
    position: relative;
    top: 50%;
    left: 50%;
}

.bg-info {
    background-color: #36b9cc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #36b9cc), to(#36b9cc));
    background-image: linear-gradient(180deg, #36b9cc 10%, #36b9cc 100%);
    background-size: cover;
}
.bg-blue {
    background-color: blue;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #36b9cc), to(#36b9cc));
    background-image: linear-gradient(180deg, #36b9cc 10%, #36b9cc 100%);
    background-size: cover;
}

.card-admin {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.15rem;
    max-width: 500px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.inner_position_right {
    position:absolute;
    background-color:#FFFF99;
    height:100%;
    width:50px;
    top:0px;
    z-index:999;
}